/* .template{
   
} */


.template .en-tete{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    z-index: 1000;
    background-color: #3a5f6f;
    color: white;
    box-shadow: 0px 0px 5px 1px #3a5f6f;
}


.template .nav-bar{
    border: 1px solid rgb(104, 92, 92);
    position: fixed;
    top: 50px;
    left: 0px;
    width: 250px;
    height: calc(100vh - 50px);
    box-shadow: 0px 0px 5px 1px #3a5f6f;
}


.template .body{
    border: 1px solid rgb(37, 134, 94);
    position: absolute;
    top: 50px;
    left: 250px;
    width: calc(100% - 250px);
    min-height: calc(100% - 50px);
    padding-top: 20px;
}