.lettre{
    display: inline-block;
    background-color: rgb(255, 255, 50);
    border: 4px solid rgb(70, 67, 67);
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgba(100, 30, 30, 0.281);
    zoom: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    transition: all 0.1s linear;


    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}
.lettre-active-time{
    cursor: no-drop;
    background-color: rgb(211, 211, 211);
}
.lettre-bonne{
    cursor: no-drop;
    background-color: rgb(0, 255, 0);
}
.lettre-mauvaise{
    cursor: no-drop;
    background-color: rgb(247, 45, 45);
}


.lettre > span{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 190px;
    transition: all 0.1s linear;
}
.lettre:active{
    left: -5px;
    top: -5px;
}
.lettre > span:active{
    background-color: rgb(208, 255, 79);
    font-size: 115px;
    height: 130px;
    width: 200px;
}